@page "/counter"
@rendermode InteractiveServer

<PageTitle>Contador</PageTitle>

<h1>Counter</h1>

<p role="status">Conta atual: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Clique em mim</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}